*/*
!src
!grpc_api
!rustycar*
!certs/*
!swir_in_action_examples/docker/performance_framework/swir.yaml
#!swir_in_action_examples/docker/performance_framework/swir-java-client/build/libs/*.jar
!target/release/swir
!target/debug/swir
