ip: "0.0.0.0"
http_port: 8080
grpc_port: 50051
internal_grpc_port: 50052

tracing:
  open_telemetry:
    collector_address: "127.0.0.1"
    collector_port: "6831"
    service_name: source

#client_executable: "client.jar"
pubsub:
  kafka:
    - brokers: [kafka-1.kafka-headless.kafka.svc.cluster.local:9092]
      producer_topics:
        - producer_topic: processor1_kafka_blue
          client_topic: orders
      consumer_topics: []
  nats:
    - brokers:
        - nats://nats-client.nats.svc.cluster.local:4222
      consumer_topics: []
      producer_topics: []
      
  aws_kinesis: []
stores:  
  redis:
    - nodes: [redis://redis-master.redis.svc.cluster.local:6379/]
      tables:
        - table_name: "swir-demo"
          client_name: "source_store"
  dynamodb: []
      
